*{background-color: rgb(16, 3, 39);}
.motivational{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family:"Libre Baskerville", serif ;
    text-align: center;
}

#img{
    border: 5px solid wheat;
}
h1{
    text-transform: uppercase;
    color: wheat;
}
p{
    text-transform: uppercase;
    color: wheat;
}